@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color:#000000;
  background-color: #FFFFFF;
}
/* Button
.button-all {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  background-color:#756257;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.mail-button {
  display: flex;
  align-items: baseline;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color:#FFFFFF;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
  text-decoration: none;
  text-transform: uppercase;
}*/
.page-header {
  color:#000000;
  background: #FFFFFF;
}
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-list {
  width: 400px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 320px;
  margin-left: auto;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-logo {
  max-width: 138px;
  margin: 0 auto;
}
.main-container {
  flex-grow: 1;
}
.main-index {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("img/index-background.jpg");
  width="1200";
  height="428";
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.main-inner {
  color: #000000;
  background-color: #FFFFFF;
  background-image: url("img/catalog/catalog-background-1.jpg");
}
/*.main-welcome {
  display: block;
  margin: 0 auto;
}*/
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.advantages-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages-item {
  width: 400px;
  height: 384px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  text-transform: uppercase;
  text-align: center;
}
.number {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400px;
  text-transform: uppercase;
  text-align: center;
}
.number-3,
.number-4,
.number-5 {
  color: #333333;
}
.advantages-bg-blue {
  background-color: #83B3D3;
  color :#FFFFFF;
}
.advantages-bg-lightgrey {
  background-color: #83B3D31F;
  color: #000000;
}
.advantages-bg-white {
  background-color: #FFFFFF;
  color: #000000;
}
.advantages-bg-grey {
  background-color:#83B3D333;
  color: #000000;
}
.search-title {
  font-family: "PT Sans", sans-serif;
  font-size:30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.mail-title {
  font-family: "PT Sans", sans-serif;
  font-size:30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.mail-subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}
.mail-title-black {
  font-family: "PT Sans", sans-serif;
  font-size:30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.mail-subtitle-black {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}
.page-footer {
  background-color: #FFFFFF;
}
.footer-social-item a {
  color: #83B3D3;
}
.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size:40px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color:#000000;
}
.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #000000;
}
.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.footer-social {
  width: 180px;
  margin-right: 220px;
}
.footer-contacts {
  width: 530px;
}
.htmlacademy-link img {
  max-width: 120px;
  margin-left: 60px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-transform: uppercase;
  color: #FFFFFF;
}
/*.breadcrumbs {
  color: #FFFFFF;
}*/
.catalog-products {
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter {
  display: flex;
}
.catalog-column {
  width: 1056px;
}
/*.breadcrumbs-link {
  color: inherit;
}*/
/*
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}*/
/*
.control-label {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#FFFFFF;
}*/
/*
.button-filter {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color:#FFFFFF;
  background-color:#83B3D3;
  border-radius: 4px;
}
.sorting-container {
  color: #000000;
  background-color: #FFFFFF;
}
.button-light {
  color: #000000;
  background-color: #FFFFFF;
}
.product-card-link {
  text-decoration: none;
}
.product-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}
.product-card-servise {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}
.product-card-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}
.product-card-button {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color:#FFFFFF;
  background-color: #756257;
}
.button-green {
  background-color: #7DB54F;
  color:#FFFFFF;
}
.button-blue {
  background-color: #83B3D3;
  color:#FFFFFF;
}
.product-card-rating {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}
.pagination-download-more {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}
.pagination {
  background-color: #FFFFFF;
}
.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-disabled {
  background-color: #F2F2F2;
}
.half-width {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}/*

